<html>
<head>
  <title></title>
  <script type="text/javascript">
  function optionCheck(){
     var option = document.getElementById("options").value;
     if(option == "0"){
         document.getElementById("room1").style.visibility ="hidden";
         document.getElementById("room2").style.visibility ="hidden";
         document.getElementById("room3").style.visibility ="hidden";
     }
     if(option == "1"){
         document.getElementById("room1").style.visibility ="visible";
         document.getElementById("room2").style.visibility ="hidden";
         document.getElementById("room3").style.visibility ="hidden";
     }
     if(option == "2"){
         document.getElementById("room1").style.visibility ="hidden";
         document.getElementById("room2").style.visibility ="visible";
         document.getElementById("room3").style.visibility ="hidden";
     }
     if(option == "3"){
         document.getElementById("room1").style.visibility ="visible";
         document.getElementById("room2").style.visibility ="visible";
         document.getElementById("room3").style.visibility ="visible";
     }

}
  
  function optionChange(){
    var change = document.getElementById("my_text").value;

    if(change.match(/a/gi)){
      document.getElementById("room1").style.visibility = "visible";
      document.getElementById("try").src = "/images/bgbg.png";
    }
  }

</script>
</head>
<body>
  <select  onchange="optionCheck()" name="test" id="options" class="primary-btn" style="width:152px; height:25px;">
           <option value="0">none</option>
           <option value="1">Personal</option>
           <option value="2">Educations</option>
           <option value="3">Postion</option>
           <option value="4">Skills</option>
           <option value="5">Career Summary</option>
           <option value="6">Trainings</option>
       </select>

  <form>
    <input type="text" onchange="optionChange()" id="my_text">
  </form>
      

       <div class="div-log1" id="room1" style=visibility:hidden>
        sdsa
           <%= form_for @template do |template| %>
              <%= template.text_field :firstname, :id => "my_text"  %>
            <% end %>
            <img src="" id="try">
       </div><br><br>

       <div class="div-log1" id="room2" style=visibility:hidden>
           2
       </div><br><br>

       <div class="div-log1" id="room3" style=visibility:hidden>
           3
       </div>
</body>
</html>



