<br/><font size="6">About</font>
<table class="shadow6">
  <tr>
    <td width="800" height="30"><font color="#F1F7CE">&nbsp;<%= link_to "Home", homes_path, :class => 'mylink' %></font>
    </td>
  </tr>
</table>
<table class="shadow7" width="800">
  <tr>
    <td><br/>
“We believe that a company exists for reasons that transcend profit.”<br/><br/>


AppSource IT consultants started out in 1997 as Decimal Solutions, a Philippine IT consulting company.<br/><br/>

Drawing from its expertise in IT, Decimal provided its clients with solutions that are timely, responsive, and cost-effective. Effective solutions were made possible through the firm’s rich technical knowledge of available tools combined with an encompassing understanding of its client’s businesses and processes. Beyond the success of its consulting ventures, Decimal saw an opportunity for the Philippines to make a golden contribution to the needs of the global business community.<br/><br/>

In the Philippines, people remain the strongest resource and the creativity and resilience of the Filipino is second to none. Foreign firms working with Philippine providers or personnel quickly discover the English communication skills and excellent work ethic that set us apart from neighboring nations. Applying this to the IT arena, Decimal’s conviction is that the Philippines can emerge as a global supplier of high-end IT consulting services typically associated with other countries in East and Southeast Asia.<br/><br/>

In 2008, Decimal was acquired by AppSource Inc.<br/><br/>

Building on the strengths of Decimal, AppSource provides a venue for a global clientele to experience solutions crafted by the ingenuity, relevant technical expertise and professional service of Filipino I.T. talent.<br/><br/>

 

Building People<br/>
we want the global potential of the Philippines in the realm of I.T. to be fully recognized. For that goal to be achieved, we offer training opportunities that enable individuals and companies to increase their skill set and knowledge in order to compete globally.<br/><br/>

 

Building Solutions<br/>
I.T. consulting is one of our key drivers; we identify and develop an effective solution for each client. We only seek to improve how the business operates, we provide in depth proposals and recommendations which will then provide for a well-developed I.T. system that is cost-effective, gives results in a timely manner, and is flexible. Our I.T. solutions positively influence the different processes of every business and also aid each employee by increasing their productivity as well.<br/><br/>

 

Building Relationships<br/>
Our commitment in every project is a deeply rooted concern for the success of each client’s enterprise and growth in their industry. Every project made is sustainable, and in the future, develops strong relationships that will last and thrive that will make each client one with our vision.<br/><br/><br/>
</td>
</tr>
</table><br/><br/><br/><br/><br/>