<html>
<head>
	<title></title>
	<style type="text/css">
	p.small {line-height:100%;}
	table.shadow {
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
			}
	</style>
</head>
<body bgproperties="fixed"> 

<div id="vc-main">

	
			<table border="0">
				<tr>
					<td align="center">
						<font face="arial">
						<p class="small">
							<font size="6"><b><font color="gray">App</font>Source</font><br/>
							<font size="2">Gabillionaires</font>
						</p>
					</td>
				</tr>
			</table>

			<font face="arial" size="5">
			<div align="center">
			<br/><br/><br/>
			<table class="shadow2">
				<tr>
					<td align="center" width="800" height="240"  background="/images/bulb.png"><br/><br/><br/><br/><br/><br/>
						<div align="right">
							
							<form>
								<font font-family: "Arial Narrow lighter"><font size="3"><b>Sign up now. It's Free!</b></font>
								<input type="button" value="I'm a Human Resource" onclick="parent.location='../indexforhr'" class="submit"/>
								<input type="button" value="I'm an Employee" onclick="parent.location='../empprofiles'" class="submit"/>
								</font>
							</form>
						</div>
					</td>
				</tr>
			</table>

			<table align="center">
					<tr>
						<td>
							<font size="2"><p> AppSource &copy; 2012 | <%= link_to "About", home_about_path(1) %> | <%= link_to "Contact Us", home_contactus_path(1) %></p> 
						</td>
					</tr>
			</table>

	

</div>


</body>
</html>

